<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
    	$(document).ready(function() {
			var table = $('#hotspots').DataTable({
					        "paging": false
					    });
			table.page.len( -1 ).order( [ 3, 'desc' ] ).draw();
		} );
    </script>
    
  </head>
  <body>
    <h1>PerfIt Html Report</h1>
    
    <div class="content">
    <table class="table">
    	<tbody>
    		<tr><th>Id</th><td>$data.getSourceId()</td></tr>
    		<tr><th>Date</th><td>$data.getDatetime()</td></tr>
    		<tr><th>Time Unit</th><td>$data.getTimeUnit()</td></tr>
    	</tbody>
    </table>
    
    <div class="table-responsive">
	  <table id="hotspots" class="table table-striped table-sm">
    	<thead class="thead-default">
            <tr>
                <th>Hot Spot</th>
                <th>Hit Count</th>
                <th>Inner Time</th>
                <th>Average Inner Time</th>
                <th>Outer Time</th>
                <th>Average Outer Time</th>
            </tr>
        </thead>
		  <tbody>
    #foreach( $hotspot in  $data.getHotSpots() )
        <tr>
          <td>
            $hotspot.getNodeName()
          </td>
          <td class="text-right">
            $hotspot.getHitCount()
          </td>
          <td class="text-right">
            $hotspot.getInnerTime()
          </td>
          <td class="text-right">
            $hotspot.getAverageInnerTime()
          </td>
          <td class="text-right">
            $hotspot.getTotalTime()
          </td>
          <td class="text-right">
            $hotspot.getAverageTotalTime()
          </td>
        </tr>
    #end
		  </tbody>
		</table>
	</div>
	</div>
  </body>
</html>